
	<!--
	<h1>Bärte-Quiz</h1>
	-->
	<p></p>
	<% for thing in @paginatable_array %>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading"><b><%=  @objektname[thing]	%></b> 
						(Id: <%= @objektid[thing] %>)</div>
				<div class="panel-body" style="text-align: center;">
					<%= link_to image_tag( @objektid[thing]+".jpg", alt:  @objektid[thing] , size: "290x320"),'#' %>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading"><b>Zusätzliche Informationen</b> (bereitgestellt durch DBPedia via SPARQL-Request)</div>
				<div class="panel-body">
					<%= @result.html_safe %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Infos</div>
				<div class="panel-body">
					Dargestellte Person: <%= @name[thing]%> (* <%= @birth[thing]%>, &#x271D; <%= @death[thing]%>)
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<div style="text-align: center;">
		<%= paginate @paginatable_array %>
	</div>
	